* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
    /* background-color: #333333; */
    box-sizing: border-box;
}

header nav {
    height: 10vh;
}

main {
    height: 90vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #333333;
    color: #F5F5F5;
    border-radius: 12px;
    border: 1px solid #333333;
    min-height: 70vh;
    max-width: 45%;
}

.container h4 {
    margin: 12px auto;
    text-align: center;
}

label {
    color: #F5F5F5;
}

input {
    margin-top: 12px;
    outline: none;
}

.button {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    width: 100%;
}

.result {
    margin-top: 12px;
}

.checks {
    font-size: 19px;
    margin-top: 23px;
}

.generated-password {
    margin-bottom: 23px;
}

.generated-password input {
    background: #333333;
    color: #F5F5F5;
    padding: 15px 5px;
    text-align: center;
}

.generated-password input::placeholder {
    color: #F5F5F5;
}

#copyBtn {
    margin: 18px;
}

#passGen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;
    border: 1px solid #F5F5F5;
    border-radius: 46px;
    text-align: center;
    color: #F5F5F5;
}

#generateBlock {
    font-size: 25px;
}

/* Responsive */

@media screen and (max-width:1035px) {
    .container {
        max-width: 75%;
    }
}

@media screen and (max-width:613px) {
    .container {
        max-width: 80%;
    }
}

@media screen and (max-width:545px) {
    .container {
        max-width: 90%;
    }

    #generateBlock {
        font-size: 15px;
    }
}